@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

#jumbotron-top{
   /*
  background-color: hsl(356, 100%, 66%);
  border-bottom-left-radius:70px; 
  background-image: url('images-blog/bg-pattern-intro.svg');
  background-position: center;*/
  /*
  border-bottom-left-radius:70px; 
  background-image:  linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
  url('images-blog/illustration-phones.png');*/
  background-position: center;
 
  /*background-position-x:24.9% ;
  background-position-y:51.5% ;*/
  /*  background-color: hsl(356, 100%, 66%);   */
  border-bottom-left-radius:70px; 
  height: 550px;
  max-height: 650px;
}
.nav-item .dropdown .dropdown-navbar{
  border: none;
  background:transparent
}
.modern-text{
  margin-top: 0%;color:white;
}
.grow-text{
  color:white;
}
.design-text-sm{
  margin-bottom: 15%;
}
.design-text-md{
  margin-top: 5%;
}
.editor-img-sm{
  margin-top:2%;
}
.paragr-editor-text-sm{
  margin-top:2%; 
  text-align: center;
}
.paragr-editor-text-md{
  margin-top:35%;
  margin-left: 20%;
}
.state-text-sm{
  margin-top: 50%;
  border-bottom-left-radius:70px;
  border-top-right-radius:70px;
  background-color: hsl(208, 49%, 24%);
}
.img-phones-sm{
  margin-top:-40%;
}
.img-phones-md{
  margin-bottom: 28%; margin-top:-6%;margin-left: 15%;
}
.paragr-illustration-sm{
  text-align: center; 
}
.row-illustration-md{
  margin-top:10%;
}
.img-illustration-md{
  margin-left: -30%;
}
.paragr-illustration-md{
  margin-top:18%;margin-left: 10%;
}
.blogGr-text{
  color: white;
}
#inline-test{
    background: green;
}
a.nav-link:hover{
    color:hsl(356, 100%, 66%);
    background-color:white;
}
.text-paragraph{
  font-size: 16px;
  font-family: 'Overpass', sans-serif;
}
.text-phones-paragraph{
  font-size: 15px;
  color: white;
  margin: 10px;
}
.background-phone-left{
  border-bottom-left-radius:70px;
  background-color: hsl(237, 17%, 21%);
  height: 250px;
  margin-top: 10%;
  background-image: url('/images-blog/bg-pattern-circles.svg');
  background-position-x: 120%;
  background-position-y: 85%;
  background-repeat:no-repeat;
}
.background-phone-right{
  background-color: hsl(237, 17%, 21%);
  height: 250px;
  margin-top: 10%; 
  border-top-right-radius:70px;   
}
.background-state-sm{
  background-color: hsl(237, 17%, 21%);
  background-image: url('/images-blog/bg-pattern-circles.svg');
  background-position:center;
  background-position-y: 50%;
  background-position-x: 30%;
  background-repeat:no-repeat;
}
.text-phones-subtitle{
  font-size:24px;
  color: white;
}
.text-title{
  font-size: 28px;
  font-weight: bold;
  color:hsl(208, 49%, 24%);
}
.text-subtitle{
  font-size:24px;
  color:hsl(208, 49%, 24%);
  font-family: sans-serif;
}
.footer-title{
  color: white;
}
#learn-more-btn{
  background-color:hsl(356, 100%, 66%);
  border-radius:30px;
  margin-top: 4%;
  margin-left: 10px;
  padding-left:20px;
  padding-right:20px;
  font-weight: bolder;
  outline:0;
  border-color: hsl(356, 100%, 66%);;

}
#learn-more-btn:hover{
  background-color:white;
  color:hsl(356, 100%, 66%); ;
}
#start-btn:hover{
  background-color:hsl(356, 100%, 66%);
  color: white;
}
#start-btn{
  background-color: white;
  color:hsl(356, 100%, 66%);
  border-radius:30px;
  margin-top: 4%;
  border: none;
  font-weight: bolder;
}
#login-top{
  border-radius:30px;
  border: none;
  font-weight: bolder;
  background-color: transparent;
}
#login-top:hover{
  background-color:white;
  color: hsl(356, 100%, 66%);
}
#signup-btn{
  border-radius:30px;
  margin-left: 10px;
  border: none;
  padding-left:30px;
  padding-right:30px; 
  font-weight: bolder;
  background-color: white;
  color:hsl(356, 100%, 66%);
  width: 130px;
}
#signup-btn:hover{
 background-color: hsl(356, 100%, 66%);
 color: white;
}
/* button:focus { outline: none !important; box-shadow: none !important; } */
button:focus { outline-color: green; box-shadow: none !important; }
/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}
/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}
.form-inline button:hover {
    background-color: royalblue;
}
/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
}
#login{
    background-color: hsl(356, 100%, 66%);
}
#element{
   background-image: url('/images/blog/bg-pattern-circles.png');
}
.nav-link,.nav-item {
   color: white;
   font-weight: bold;
}
li {color:white}
ul{list-style-type:none}
@media only screen and (min-width:767px)
{
  #laptop-medium {
  display: none;
  }
  .navbar{
    margin-left: 7%;
    margin-top: -2%;
  }
}

@media only screen and  (min-width: 576.5px) { 
  .form-btn-sm{
    visibility: hidden;
  }
  #jumbotron-top{
    background-position-x:24.9% ;
    background-position-y:51.5% ;
    background-image: url('/images-blog/bg-pattern-intro.svg'), linear-gradient(60deg,hsl(13, 100%, 72%)  20%  ,hsl(353, 100%, 62%) 85%  );
  }
}

@media only screen and  (max-width: 576px) {
  .navbar{
    margin-top: -2%;
  }
  #form-btn-sm{
    visibility: visible;
  }
  #jumbotron-top{
    background-position-x:40.9% ;
    background-position-y:50.5% ; 
    background-image: url('/images-blog/bg-pattern-intro.svg'), linear-gradient(30deg,hsl(13, 100%, 72%) 10%  ,hsl(353, 100%, 62%) 85%  );
  }
  .modern-text-sm{
     margin-top: 30%;
  }
}

@media only screen and  (min-width: 992px) { 
  #mySidenav{
    display: none;
  }

}

.list-footer-top{
  margin-top: 10%;
}
.fixed-left-back{
  position: fixed;
  top: 150px;
}
#jumbotron-bottom{
  border-top-right-radius:0px;
  margin-bottom: 0%;
  margin-top:10%;
  background-color: hsl(240, 10%, 16%)
}
#jumbo-bottom-title{
  margin-left:6%;
}
.jumbo-bottom-list-md{
  margin-top: 1%;
}
.jumbo-bottom-list-sm{
  margin-top: 3%;
}
.list-footer a{
  color: white;
} 
.list-footer a:hover{
  color: hsl(208, 49%, 24%);
} 
.list-footer li{
  margin-top: 3px;
} 
.navbar-btn{
  color: white;
  border: none;
}

.navbar-btn:focus{
  outline:0;
}
.navbar-btn:hover{
   color: hsl(208, 49%, 24%);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: hsl(356, 100%, 66%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 2px 2px 2px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: hsl(208, 49%, 24%);;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
